.nav-menu {
    text-align: right;
  }

.nav-spacing {
    margin: 0 0 0 10px;
}

.image-link {
    text-decoration: none;
}

.book-header {
    text-align: center; 
    margin: 0 0 80px;
}

.center-header {
    text-align: center;
}

.softcover-width {
    width: 600px;
    margin: 20px auto;
    padding: 30px;
    line-height: 25px;
}

.quote-class {
    width: 500px; 
    margin: 20px auto; 
    padding: 30px; 
    background-color: #fafafa;
}


.ishmael-blockquote {
    font-style: italic; 
    font-size: 20px;
}

.ishmael-quote {
    font-style: normal; 
    font-size: 24px; 
    font-weight: bold; 
    color: #ff0000
}